body {
  background-color: hsl(216, 18%, 16%); /* #2228310f1011 */
  color: hsl(69, 24%, 94%);
  padding: 0;
  margin: 0;
  font-family: "Source Code Pro", monospace;
  /* font-family: "Josefin Sans"; */
}

img {
  border-radius: 20px;
  transition: 1s;
}

img:hover {
  transform: scale(1.05);
  transition: 1s;
}

/* Top Part */
.top-part {
  vertical-align: bottom;
  padding: 5%;
  padding-top: 10rem;
}

.top-part h1 {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  height: 8rem;
}

.top-part h2 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 2.5rem;
}

.heading {
  opacity: 0;
  vertical-align: middle;
  text-align: left;
}

.jahrgang {
  padding-top: 5%;
  display: table;
}

.top-image {
  border-radius: 20px;
  width: 100%;
  display: table-row;
}
.top-image:hover {
  transform: scale(1.05);
}

/* Mottowoche */
.mottowoche {
  color: hsl(69, 24%, 94%);
  background-color: hsl(120, 3%, 27%);
  padding: 5%;
  opacity: 0;
}

.child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  max-width: 100%;
  padding-bottom: 3rem;
}

.col {
  max-width: 100%;
}

.motto-image {
  max-width: 100%;
}

/* Image Part */
.gallery {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5%;
  gap: 1.5rem;
}

.gallery-img {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1.2s;
}

.img-box {
  /* display: inline-block; */
  height: 300px;
}

.fade-in {
  opacity: 1;
  transition: all 1500ms;
}

footer {
  background-color: #222831;
  color: #f3f4ed;
  max-width: 100%;
  text-align: center;
  padding: 0.75rem;
  bottom: 0;
  line-height: 0.5;
  font-weight: 300;
}

@media (max-width: 960px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .child {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 540px) {
  .top-part h1 {
    font-size: 2rem;
    font-weight: 500;
    height: 4.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .top-part {
    vertical-align: bottom;
  }

  .heading {
    padding: 1rem;
  }

  .container {
    padding: 1rem;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .img-box {
    padding: 1rem;
    height: 35vh;
  }

  .jahrgang {
    padding-top: 2rem;
  }

  footer {
    font-size: 0.6rem;
  }
}

@media (orientation: landscape) {
  h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  .top-part h1 {
    height: 7rem;
  }

  .mottowoche h1 {
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  .img-box {
    height: 35vh;
  }

  .top-part {
    padding-top: 2rem;
  }

  .top-image {
    width: 50%;
  }
}
